.player {
  transition: all 1s ease-out;
}
.player:hover {
  transform: scale(1.23);
  box-shadow: var(--token-hover);
}

.player[clicked="yes"] {
  left: -6rem;
  top: 50px;
  transform: scale(1.8) rotate3d(0.2, 0.5, 0.2, 360deg);
  box-shadow: none;
}

.computer {
  transition: all 0.8s ease-out;
}

.computer {
  position: absolute;
  left: 17rem;
  top: 3rem;
  transform: scale(1.8);
}

.computer[winner="computer"] {
  box-shadow: var(--winner);
}

.player[winner="player"] {
  box-shadow: var(--winner);
}

.original-state {
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .player[clicked="yes"] {
    left: -17vw;
  }
  .computer {
    left: 25vw;
  }
}

@media screen and (max-width: 1020px) {
  .player[clicked="yes"]::before {
    content: "YOU PICKED";
    color: white;
    position: absolute;
    bottom: -3rem;
    left: 1.3rem;
  }

  .player[clicked="yes"] {
    margin-top: 13%;
  }
}

@media screen and (min-width: 1020px) {
  .player[clicked="yes"] {
    margin-top: 30%;
  }

  .player[clicked="yes"]::before {
    content: "YOU PICKED";
    color: white;
    position: absolute;
    top: -2rem;
    left: 1.3rem;
  }
}

@media screen and (max-width: 1020px) {
  .computer {
    margin-top: 13%;
  }

  .computer::before {
    content: "THE HOUSE PICKED";
    color: white;
    position: absolute;
    bottom: -3rem;

    white-space: nowrap;
  }
}

@media screen and (min-width: 1020px) {
  .computer {
    margin-top: 30%;
  }

  .computer::before {
    content: "THE HOUSE PICKED";
    color: white;
    position: absolute;
    top: -2rem;
    left: -1rem;
  }
}
