.player {
  transition: all 1s ease-out;
}
.player:hover {
  transform: scale(1.23);
  box-shadow: var(--token-hover);
}

.player[clicked="yes"] {
  left: -6rem;
  top: 50px;
  transform: scale(1.8) rotate3d(0.2, 0.5, 0.2, 360deg);
  box-shadow: none;
}

.computer {
  transition: all 0.8s ease-out;
}

.computer {
  position: absolute;
  left: 17rem;
  top: 3rem;
  transform: scale(1.8);
}

.computer[winner="computer"] {
  box-shadow: var(--winner);
}

.player[winner="player"] {
  box-shadow: var(--winner);
}

.original-state {
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .player[clicked="yes"] {
    left: -12vw;
  }
  .computer {
    left: 25vw;
  }
}
