@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 500px;
  background-color: #14173a;
  overflow: hidden;
  font-family: "Varela Round", sans-serif;
  --winner: 1px 1px 1px 20px rgba(247, 247, 247, 0.048),
    0 0 1px 40px rgba(236, 236, 236, 0.068),
    0 0 1px 70px rgba(236, 236, 236, 0.021);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
